{%  extends 'base.html' %}
{% load static %}

{% block head-extra %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <style>
.center {
  margin: auto;
  width: 60%;
}
   </style>
{% endblock %}

{% block content %}
 <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_1">
    <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>My Recipes</h3>
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- /bradcam_area  -->







<!-- portfolio_image_area  -->
<div class="portfolio_image_area">
    <div class="container">


        <div class="row">
        {% for recipe in page_obj %}

{#            <div class="col-lg-4 col-md-6 col-lg-4"  onclick="window.location='{% url 'editrecipe' recipe.id %}';" style="cursor:pointer ">#}
            <div class="col-lg-4 col-md-6 col-lg-4">
                <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="portfolio_thumb">
                        <img src="{{ recipe.image.url }}" class="img-fluid" width="250"/>
                    </div>
                    <div class="portfolio_hover">
                        <div class="title">
                            <span>Recipe</span>
                                <h3>{{ recipe.title }}</h3>
                                <a class="boxed-btn3" href="{% url 'editrecipe' recipe.id %}">Edit</a>
                                <a type="button" data-id="{{recipe.id}}" class="boxed-btn3" data-toggle="modal" data-target="#modal-default{{recipe.id}}">Delete</a>
{#                                <a class="boxed-btn3" href="{% url 'deleterecipe' recipe.id %}" class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{recipe.id}}">Delete</a>#}
                        </div>
                    </div>
                </div>
            </div>


<div id="modal-default{{recipe.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete recipe "{{ recipe.title }}"?</p>
      </div>
      <div class="modal-footer">
          <a type="button" class="btn btn-default" href="{% url 'deleterecipe' recipe.id %}" >Yes, Delete!</a>
      </div>
    </div>

  </div>
</div>

        {% endfor %}

        <div class="container">
                <div class="center">
                <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li><a href="?page=1">&laquo; first</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}

                {% for i in  page_obj.paginator%}
                    {% if forloop.counter == page_obj.number %}
                        <li class="active"><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% else %}
                        <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}

                {% endfor %}


                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
                </ul>

                </div>
            </div>


        </div>
    </div>
</div>





{% comment %}
<script>
    $(document).on('click', '.confirm-delete', function () {
      $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
    });
</script>

<script>
    $(document).on('click', '#confirmDeleteButtonModal', function () {
      var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
      window.location = $("#".concat(caller)).attr("href");
    });
</script>
{% endcomment %}

<br>
<br>
<br>
<br>

{% endblock %}